[project]
name = "slack-assistant"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "openai>=2.14.0",
    "python-dotenv>=1.2.1",
    "slack-bolt>=1.27.0",
]
